# Targets
libcore.jnilib

# Intermediates
*.class
*.log

# OS
.DS_Store

# Android Studio
*.iml
local.properties

# All IDE state from gradle
.idea*/

# Gradle
.gradle/
build/
/captures
.externalNativeBuild
.cxx

# CMake
cmake-build-*/
cmake/

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# End of https://www.gitignore.io/api/jetbrains

