__Name__ Tests
if (CMAKE_BUILD_TYPE MATCHES Debug)
    target_sources (corecryptotest
            PRIVATE
    __TEST_SOURCES__)
endif(CMAKE_BUILD_TYPE MATCHES Debug)
        
# __NEW_BLOCKCHAIN_TEST__
